table {
  width: 95%;
  border-collapse: collapse;
  margin-top: 30px;
  background-color: white;
  font-size: 12px;
}

th, td {
  border: 1px solid #ccc;
  text-align: center;
  padding: 8px;
  width: 80px;
  min-width: 60px;
}

th {
  background-color: #f0f0f0;
  font-size: 13px;
}

.reservado {
  background-color: #c6f7c3;
}

.disponible {
  background-color: #00acdb;
  color: white;
}

.btn-cancelar {
  background-color: white;
  color: #dc3545;
  border: 1px solid #dc3545;
  padding: 3px 6px;
  border-radius: 8px;
  font-size: 11px;
  cursor: pointer;
}

.btn-cancelar:hover {
  background-color: #dc3545;
  color: white;
}

h2 {
  margin-top: 20px;
  font-size: 18px;
}
